<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书籍列表</title>
</head>
<body>
    <h1>书籍列表</h1><h3><a href="/publisher_list">转到出版社列表</a></h3>
    <a href="/add_book/">添加书籍</a>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>书籍名称</th>
            <th>出版社名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            {% for book in all_book %}
            <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.publisher_id.name }}</td>
            <td><a href="/edit_book/?id={{ book.id }}">编辑</a>|<a href="/del_book/?id={{ book.id }}">删除</a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</body>
</html>